@import url(utils.css);
@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "yekan";
}

html {
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #ffffff;
    font-size: 1.6rem;
}

.header {
    width: 100%;
    padding: 2rem 5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2px solid #999;
    border-radius: 1.5rem;
    background: #fff;
    position: fixed;
}

.logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: #111;
}

.nav {
    display: flex;
    gap: 2.5rem;
}

.nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-family: "rokh";
    transition: opacity .2s;
}

.search-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(.4rem);
    display: none;
    justify-content: center;
    padding-top: 1rem;
    z-index: 1000;
}

.search-box {
    width: 90%;
    max-width: 50rem;
    background: #fff;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 .4rem 1rem rgba(0,0,0,0.15);
    animation: showSearch .3s ease;
}

@keyframes showSearch {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.close-search {
    font-size: 2rem;
    cursor: pointer;
    color: #444;
}

.search-results {
    width: 90%;
    max-width: 50rem;
    background: #fff;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    max-height: 35rem;
    overflow-y: auto;
    display: none;
    animation: showSearch .3s ease;
}

.search-item {
    padding: 1rem;
    border-bottom: .1rem solid #eee;
    font-size: 1.4rem;
    cursor: pointer;
}

.search-item:hover {
    background: #f5f5f5;
}


.nav a:hover {
    opacity: .6;
}

.icons {
    display: flex;
    gap: 2rem;
}

.icons i {
    font-size: 1.7rem;
    margin-left: 1.5rem;
    transition: opacity .2s;
}

.icons a:hover {
    opacity: .6;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1.2fr;  /* چپ بزرگ‌تر */
    gap: 3rem;
    padding: 4rem 5rem;
    align-items: stretch;  /* ستون‌ها هم‌ارتفاع */
}

.hero .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero .right .hero-img img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.hero .right .hero-text {
    background: #b1ada1c6;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.hero .right .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero .left .hero-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.categories h2 {
    padding: 5rem;
}

.filter-tabs {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 5rem;
}

.filter-tabs button {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.filter-tabs button:hover {
    color: #000;
}

.filter-tabs button.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2rem 5rem;
}

.product-card {
    height: 52rem;
    background: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    /* box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.08); */
    transition: all 0.25s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.12);
}

.product-card img {
    width: 100%;
    height: 40rem;
    border-radius: 1.2rem;
    object-fit: cover;
    display: block;
}

.product-card img:hover {
    border-radius: 0;
}

.product-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 1.2rem 0.5rem;
    color: #222;
}

.product-card h6 {
    font-size: 1rem;
    margin: 1.2rem;
    color: #666;
}

.product-card .price {
    font-size: 1.4rem;
    margin: 0 1.2rem 1.5rem;
    color: #555;
}


.sustain {
    display: flex;
    padding: 4rem 5rem;
    gap: 2rem;
}

.sustain .box {
    flex: 1;
    border-radius: 1.5rem;
    padding: 3rem;
    color: white;
    font-size: 1.6rem;
}

.green { background: #4A6E2C; }
.blue  { background: #1A3D6B; }

.footer {
    background: #111;
    color: #fff;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.footer h4 {
    font-size: 1.8rem;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.footer input {
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.4rem;
}

