@media (max-width: 600px) {
    .header {
        padding: 2rem;
        flex-direction: column;
        gap: 1rem;
    }

     .nav {
        display: none;
    }

    .header {
        padding: 1.8rem 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .icons i {
        font-size: 1.6rem;
    }

    .hero {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 2rem;
        margin-top: 10rem;
    }

    .hero .left .hero-img img {
        height: 100%;
        object-fit: cover;
    }

    .hero .right {
        gap: 1rem;
    }

    .hero .right .hero-text h1 {
        font-size: 2rem;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1rem;
    }

    .product-card {
        height: 29rem;
    }

    .product-card img {
        height: 14rem;
    }

    .product-card h3 {
        font-size: 1.4rem;
    }

    .product-card .price {
        font-size: 1.3rem;
    }

    .footer {
        flex-direction: column;
        gap: 3rem;
    }
}
