@media (max-width: 600px) {
    .header {
        padding: 2rem;
        flex-direction: column;
        gap: 1rem;
    }

     .nav {
        display: none;   /* فعلاً مخفی */
    }

    .header {
        padding: 1.8rem 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .icons i {
        font-size: 1.6rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .item {
        padding: 1.5rem;
        gap: 1.2rem;
    }

    .product-card img {
        height: 18rem;
    }

    .product-card h3 {
        font-size: 1.4rem;
    }

    .product-card .price {
        font-size: 1.3rem;
    }

    .footer {
        flex-direction: column;
        gap: 3rem;
    }
}